<!-- CTA -->
<section id="{{ include.section.section_id }}" class="wrapper {{ include.section.background_style }}">
    <div class="inner">
        <header>
            <h2>{{ include.section.title }}</h2>
            {{ include.section.text | markdownify }}
        </header>
        {% if include.section.actions %}
            <ul class="actions stacked">
                {% for action in include.section.actions %}
                    <li><a href="{% assign expr_1 = action.url | starts_with: '#' %}{% if expr_1 %}{{ action.url }}{% else %}{{ action.url | link | relative_url }}{% endif %}" class="button fit{% if action.is_primary %} primary{% endif %}{% if action.is_scrolly %} scrolly{% endif %}">{{ action.label }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</section>
