<!-- Two -->
<section id="{{ include.section.section_id }}" class="wrapper alt {{ include.section.background_style }}">
    {% for spotlight in include.section.spotlights %}
        <section class="spotlight">
            {% if spotlight.home_img_path %}
                <div class="image"><img src="{{ spotlight.home_img_path | relative_url }}" alt="" /></div><div class="content">
            {% endif %}
            <h2>{{ spotlight.title | newline_to_br }}</h2>
            {{ spotlight.text | markdownify }}
            </div>
        </section>
    {% endfor %}
</section>
